<!DOCTYPE html>
<html>
<head>
        <title>Editing {{ brief.title }}</title>
	<style type="text/css">
		#header{
			position:fixed;
			width:100%;
			height: 100px;
		}
		#left{
		    position:fixed;
		    /*margin-top:100px;*/
		    width:50%;
		}
		#right{
			position:fixed;
			/*margin-top:100px;*/
			margin-left: 50%;
		    width:50%;
		    height: 100%;
		}
	</style>
	{% load staticfiles %}
        {% load dajaxice_templatetags %}
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
	<!-- Skin CSS file -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}">
	<!-- Utility Dependencies -->
	<script src="http://yui.yahooapis.com/2.9.0/build/yahoo-dom-event/yahoo-dom-event.js"></script> 
	<script src="http://yui.yahooapis.com/2.9.0/build/element/element-min.js"></script> 
	<!-- Needed for Menus, Buttons and Overlays used in the Toolbar -->
	<script src="http://yui.yahooapis.com/2.9.0/build/container/container_core-min.js"></script>
	<script src="http://yui.yahooapis.com/2.9.0/build/menu/menu-min.js"></script>
	<script src="http://yui.yahooapis.com/2.9.0/build/button/button-min.js"></script>
	<!-- Source file for Rich Text Editor-->
	<script src="http://yui.yahooapis.com/2.9.0/build/editor/editor-min.js"></script>
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.1.1.min.js"></script>

</head>

<body class="yui-skin-sam">
	<!-- <div id="header"></div> -->
	<div id="left">
<!-- 		<button id='a'>zxcv</button> -->
<form method="post" action="POST" id="form1">
		<textarea name="editor" id="editor" cols="50" rows="10" data-id="{{ brief.id }}"> 
            EDIT BRIEF:
			{{ brief.text }}
		</textarea>
</form>
		<script>
//
var myEditor = new YAHOO.widget.Editor('editor', {
    height: '100%',
    width: '100%',
    dompath: true, //Turns on the bar at the bottom
    animate: true, //Animates the opening, closing and moving of Editor windows
	toolbar : {collapse: true,
titlebar: 'Text Editing Tools',
draggable: false,
buttonType: 'advanced',
buttons: [
    { group: 'fontstyle', label: 'Font Name and Size',
        buttons: [
            { type: 'select', label: 'Arial', value: 'fontname', disabled: true,
                menu: [
                    { text: 'Arial', checked: true },
                    { text: 'Arial Black' },
                    { text: 'Comic Sans MS' },
                    { text: 'Courier New' },
                    { text: 'Lucida Console' },
                    { text: 'Tahoma' },
                    { text: 'Times New Roman' },
                    { text: 'Trebuchet MS' },
                    { text: 'Verdana' }
                ]
            },
            { type: 'spin', label: '13', value: 'fontsize', range: [ 9, 75 ], disabled: true }
        ]
    },
    { type: 'separator' },
    { group: 'textstyle', label: 'Font Style',
        buttons: [
            { type: 'push', label: 'Bold CTRL + SHIFT + B', value: 'bold' },
            { type: 'push', label: 'Italic CTRL + SHIFT + I', value: 'italic' },
            { type: 'push', label: 'Underline CTRL + SHIFT + U', value: 'underline' },
            { type: 'separator' },
            { type: 'push', label: 'Subscript', value: 'subscript', disabled: true },
            { type: 'push', label: 'Superscript', value: 'superscript', disabled: true },
            { type: 'separator' },
            { type: 'color', label: 'Font Color', value: 'forecolor', disabled: true },
            { type: 'color', label: 'Background Color', value: 'backcolor', disabled: true },
            { type: 'separator' },
            { type: 'push', label: 'Remove Formatting', value: 'removeformat', disabled: true },
            { type: 'push', label: 'Show/Hide Hidden Elements', value: 'hiddenelements' }
        ]
    },
    { type: 'separator' },
    { group: 'alignment', label: 'Alignment',
        buttons: [
            { type: 'push', label: 'Align Left CTRL + SHIFT + [', value: 'justifyleft' },
            { type: 'push', label: 'Align Center CTRL + SHIFT + |', value: 'justifycenter' },
            { type: 'push', label: 'Align Right CTRL + SHIFT + ]', value: 'justifyright' },
            { type: 'push', label: 'Justify', value: 'justifyfull' }
        ]
    },
    { type: 'separator' },
    { group: 'parastyle', label: 'Paragraph Style',
        buttons: [
        { type: 'select', label: 'Normal', value: 'heading', disabled: true,
            menu: [
                { text: 'Normal', value: 'none', checked: true },
                { text: 'Header 1', value: 'h1' },
                { text: 'Header 2', value: 'h2' },
                { text: 'Header 3', value: 'h3' },
                { text: 'Header 4', value: 'h4' },
                { text: 'Header 5', value: 'h5' },
                { text: 'Header 6', value: 'h6' }
            ]
        }
        ]
    },
    { type: 'separator' },
    { group: 'indentlist', label: 'Indents Lists',
        buttons: [
            { type: 'push', label: 'Indent', value: 'indent', disabled: true },
            { type: 'push', label: 'Outdent', value: 'outdent', disabled: true },
            { type: 'push', label: 'Create an Unordered List', value: 'insertunorderedlist' },
            { type: 'push', label: 'Create an Ordered List', value: 'insertorderedlist' }
        ]
    },
	{ type: 'separator' },
    { group: 'undoredo', label: 'Undo/Redo',
                            buttons: [
                                { type: 'push', label: 'Undo', value: 'undo', disabled: true },
                                { type: 'push', label: 'Redo', value: 'redo', disabled: true }
                                
                            ]
    },
    { type: 'separator' },
    { group: 'insertitem', label: 'Insert Item',
        buttons: [
            { type: 'push', label: 'HTML Link CTRL + SHIFT + L', value: 'createlink', disabled: true },
            { type: 'push', label: 'Insert Image', value: 'insertimage' }
        ]
    },
	{ type: 'separator' },
	{group: 'saves', label: 'Save',
        buttons: [
            {id: "b1", type: "push", label: "My Button", value: "save"}
        ]
	}
] }

	});
function exportToCsv() {
			myEditor.saveHTML();
			//alert(button.toString());
			//alert(myEditor.get('element').value);
			var form = document.createElement("form");
			form.setAttribute("method", "post");
			//alert(myEditor.get('element').value);
			var idd = document.getElementById("editor").getAttribute("data-id");
			alert(idd);
			form.setAttribute("action", ("/save/"+idd+"/"));
			form.setAttribute("id", "form1");
			form.value=myEditor.get('element').value;
			form.submit();
			alert(myEditor.get('element').value);
        }

YAHOO.util.Event.addListener("b1", "click", exportToCsv);
myEditor.render();
myEditor.on('save', exportToCsv, myEditor, true); 



myEditor.on('toolbarLoaded', function() {
    //Using the Dynamic Event cmdClick where cmd is the value of the button above
    this.toolbar.on('saveClick', Dajaxice.caseword.documents.save_brief(save_callback, {'brief_id': {{ brief.id }}, 'text': myEditor.get('element').value}))
    }, myEditor, true);
//YAHOO.util.Event.on("myEditor", "focusin", exportToCsv});
//setInterval(exportToCsv, 5000);
//button.addEventListener('click', exportToCsv);
</script>


	</div>

	<script type="text/javascript">
		function back() {
	    	document.getElementById('browser').contentWindow.history.back(-1);
		}
	</script>

	<div id="right">
		<iframe id="browser" src="https://1.next.westlaw.com/Session/SignOn.html?bhcp=1" width="100%" height="100%" scrolling="yes"></iframe>
	</div>
        {% dajaxice_js_import %}
        <script>
            function save_callback() {
                alert(data.text);
            }
        </script>
</body>

</html>



